node_modules
dist
.env
.venv
__pycache__
*.pyc
*.log
dataset/raw
dataset/processed/*
!dataset/processed/catalog.json
ai-service/uploads/*
!ai-service/uploads/.gitkeep
ai-service/models/*
!ai-service/models/.gitkeep
